.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .rightbarProfileImgContainer {
    margin-right: 0;
    position: relative;
    display: flex;
  }
  .rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .rightbarOnline {
    width: 12px;
    height: 12px;
    background-color: lightgreen;
    border-radius: 50%;
    position: relative;
    top: -2px;
    right: 12px;
    border: 2px solid white;
  
  }
  .rightbarUsername{
    font-weight: 500;
  }
  